nav {
    background-color: #e1e1e1;
    width: 180px;
    height: 562px;

}

ul {
    display: flex;
    flex-direction: column;

}

.bd-btm-lf-rad {
    border-bottom-left-radius: 20px !important;
}

header {
    width: 180px;
}

.herodiv {
    background-color: burlywood;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
}

.herobanner {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.navbtn,
.projbtn,
.addbtn {
    all: unset;
    display: flex;
    width: 140px;
    padding: 10px 20px;
    border-radius: 0;
    place-items: center;
    font-size: 20px;
    cursor: pointer;
}

.navbtn:hover,
.projbtn:hover {
    background-color: #f1f1f1;
    width: 140px;
}

.navlink {
    text-decoration: none;
    color: black;
}

.navul {
    height: 572px;
    list-style: none;
}




.pddimg {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    place-items: center;
    background-color: #fff;
    border-radius: 50%;
    filter: invert(100%);
    padding: 4px;
}

#plusicon {
    padding: 10px;
}

#lastnavli {
    margin-top: auto !important;
}

#lastnavli>button>h1 {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    font-size: 50px;
    margin: 25px auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
}

#lastnavli>button>h1:hover {
    background-color: red;
}

#navDD {
    all: unset;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

#navDD:hover {
    box-shadow: 0px 0px 5px white;
}

#navDD>img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width:800px) {
    #navheader {
        position: absolute;
        top:0px;
        right:0px;
    }

    .navul {
        height: 100dvh;
        padding-top: 50px;
    }
    nav{
        height: unset;
    }
    
}
#xbtn{
    all: unset;
    border: 1px solid black;
    position: absolute;
    top:5px;
    left: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#xbtn:hover {
    box-shadow: 0px 0px 5px black !important;
}
